@import "variables_overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

u
{
	text-decoration: underline;
  	text-decoration-color: $primary;
}

ul.list-circle {
    list-style-type: circle;
  }

.text-justify {
    text-align: justify;
  }

.fa-13x {
    font-size: 1.3em;
   }

#brunom, #expertise, #formations, #experiences, #interets {
    scroll-margin-top: 3.6rem;
}

#btnBack {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: $primary;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10%;
  }

#btnBack:hover {
    background-color: #555;
  }

/* MD breakpoint*/
@media (min-width: 768px) {
    .w-md-50 { width: 50%!important; }
    .pe-md-15 { padding-right: 15rem!important;}
}
